body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}


section {
    margin: 20px;
}

h2 {
    color: #cc0000;
	margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #cc0000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #990000;
}

footer {
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
