/* Styles pour l'effet de parallaxe */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 0;
}

body {
    background-image: url('fond.png');
    background-size: cover;
    background-attachment: fixed;
}

.content {
    text-align: center;
    padding: 150px 20px; /* Ajustez la marge intérieure pour le positionnement vertical */
}

header {
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    color: #cc0000;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 10px;
}

input, textarea {

/* Styles pour la barre de navigation */
.navbar {
    background-color: #cc0000;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.title {
    text-align: center;
    color: #cc0000;
    background-color: #0074D9; /* Couleur bleue */
    padding: 20px; /* Ajustez la marge intérieure selon vos préférences */
}
