/* Styles pour l'effet de parallaxe */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 0;
}

body {
    background-image: url('discord.png');
    background-size: cover;
    background-attachment: fixed;
}

.parallax {
    background-image: url('momodo.jpg'); /* Remplacez par votre image animée */
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    text-align: center;
    padding: 150px 20px; /* Ajustez la marge intérieure pour le positionnement vertical */
}

header {
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    color: #cc0000;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 10px;
}

input, textarea {

/* Styles pour la barre de navigation */
.navbar {
    overflow: hidden;
    background-color: #333; /* Couleur de fond de la barre de navigation */
    display: flex;
    justify-content: space-between; /* Espacement automatique des éléments */
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2; /* Couleur du texte des liens */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Transition pour l'effet de changement de couleur */
}

.navbar a:hover {
    background-color: #ddd; /* Couleur de fond au survol */
    color: #333; /* Changement de couleur du texte au survol */
}

.ml-auto {
    margin-left: auto; /* Déplace les éléments vers la droite de la barre de navigation */
}
